#container {
      padding: 50px;
      background-color: #fff;
    }
h6 {
    font-family: sans-serif;
    font-size: 72px;
    width: 3em;
    height: 2.5em;
    padding: 30px;
    text-align: center;
    margin: 0;
    border-radius: 15px;
    background-color: #2b72b8;
    color: #fff;
    display: block;
    float: center;
    margin: auto;
  }

p {
        font-size: 50px;
    }
