#container {
      padding: 50px;
      background-color: #fff;
    }
h6 {
    font-family: sans-serif;
    font-size: 100px;
    width: 200px;
    height: 100px;
    padding: 30px;
    text-align: center;
    margin: 0;
    border-radius: 15px;
    background-color: #2b72b8;
    color: #fff;
    display: block;
    float: right;
    margin: auto;
  }

.start {
  font-family: sans-serif;
  font-size: 72px;
  width: 250px;
  height: 150px;
  padding: 30px;
  text-align: center;
  margin: 0;
  border-radius: 15px;
  border: none;
  background-color:darkblue;
  color: #fff;
  display: block;
  float: left;
  margin: auto;
  } 


